{
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "trailingComma": "all",
    "printWidth": 150,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
