:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #207586;
  text-decoration: inherit;
}
a:hover {
  color: #276572;
}

body {
  margin: 0;
  display: grid; 
  min-width: 320px;
  min-height: 100vh;
}